.header__logo {
    height: 17px;
    transition-timing-function: ease-in;
    transition: all 0.6s;

}
.header__list {
         color: #fff;
    display: flex;
    align-items: center;


}
.header__links {

    font-weight: 500;
    font-size: 0.9rem;

    padding: 4px 15px;
    border-radius: 4px;
}
.header__links:hover {
    background: rgba(20,20,20,0.15);

}
.header__list__dark {
         color: #797575;



}